RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]


#RewriteRule ^index.php/uploads/ - [R=301,L]
#RewriteRule ^index.php/media/ - [R=301,L,NC]
RewriteRule ^index.php/images/ - [R=301,L,NC]

IndexIgnore /uploads/*
IndexIgnore /media/*
IndexIgnore /images/*
IndexIgnore /test/*
IndexIgnore /video_devices/*
IndexIgnore /waqas/*
IndexIgnore /yii/*
AddHandler x-httpd-php5-4 .php

#php_flag display_startup_errors ON
#php_flag display_errors ON
#php_flag html_errors ON
#php_value error_reporting 0



# supress php errors

