RewriteEngine On


RewriteCond %{HTTP_HOST} ^54\.214\.251\.208
RewriteRule (.*) http://www.darussalampk.com/$1 [R=301,L]




RewriteRule ^index.php/uploads/ - [R=301,L]
RewriteRule ^index.php/media/ - [R=301,L,NC]
RewriteRule ^index.php/images/ - [R=301,L,NC]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]





IndexIgnore /uploads/*
IndexIgnore /media/*
IndexIgnore /images/*
IndexIgnore /test/*
IndexIgnore /video_devices/*
IndexIgnore /waqas/*
IndexIgnore /yii/*


php_flag display_startup_errors ON
php_flag display_errors ON
php_flag html_errors ON
php_value error_reporting 0



# supress php errors

