/* 
    Document   : screen.css
    Created on : Jan 2, 2014, 10:16:48 PM
    Author     : ali
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

