body {

    padding-bottom: 30px;
}
.clear {
    clear: both;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}
.navbar {

    -moz-box-shadow: 10px 15px 15px rgba(144, 144, 144, 0.5);
    -webkit-box-shadow: 10px 15px 15px rgba(144, 144, 144, 0.5);
    box-shadow: 10px 15px 15px rgba(144, 144, 144, 0.5);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fafcfc), color-stop(0.536, #f3f5f9), to(#ffffff));
    background-image: -moz-linear-gradient(90deg, #fafcfc 0%, #f3f5f9 53.6%, #ffffff 100%);
    border:0;
    min-height: 120px ;
}
.navbar li > a {
    color: #414141 !important;
    display: block;
    font: bold 11px Arial;
    text-transform: uppercase;
    text-shadow: none !important;
}
.navbar li > a:hover {
    color: #999999 !important;
    cursor: pointer;
}
.navbar li.open > a{
    color:#f3f5f9 !important;

}
.navbar li.open  a > :hover{
    color:#f3f5f9 !important;

}
ul.dropdown-menu li a {
    color: #414141 !important;
}
@media (min-width: 768px) {
    .navbar li a.head_category {
        /*        font-family: Arial;*/
        font-size: 14px;
    }
    .navbar ul.category_head_menu {
        width: 400px;
        height: auto;
    }
    .navbar ul.category_head_menu > li {
        float: left;
        margin:0 10px 20px 10px;
    }
    .navbar ul.category_head_menu > li.clearleft{
        clear: left;
    }
    .navbar ul.category_head_menu > li > a{
        height: 40px;
        border-bottom:0.1em solid #efefef;
        font-size: 14px;
        width:100%;
        padding: 5px 10px 0;
    }
    .navbar ul.category_head_menu > li > ul li{
        list-style: none;
    }
    .navbar ul.category_head_menu > li > ul{
        margin-top:10px;
    }
    .navbar ul.category_head_menu > li> ul li a {
        color:#444;
        font-size: 13px;
        padding: 0px 0 0px 25px;
        font-weight: normal;
    }

    .navbar ul li.keword_search {
        border-left: 1px solid #d4d4d4;
        padding-left: 20px;
    }
    .navbar ul li.keword_search input {
        width: 340px;
    }
    .navbar ul li.location_search {    
        padding-left:35px;
    }
    .navbar ul li.location_search input {
        width: 240px;
    }
    .navbar ul li.distant_search  {
        padding-left:35px;
    }
    .navbar ul li.distant_search select {
        /*        opacity:0;*/
        color:#414141;
        width: 100px;
        float: left;
        position: absolute;
    }

    .styled {
        width: 100px;
        min-width: 100px;
        margin-right: 5px;
        height: 20px;
        line-height: 20px;
        margin-top: 6px;
        margin-left: 30px;
        color: #414141;
        float: left;
    }
    span.customSelect{
        background:none;
        color:#454545;
        width:110px;
        border:0;
        margin-right:5px;
        font: 15px Arial;
        cursor: pointer;
    }

    span.customSelect.changed {
        background:none;
    }
    .customSelectInner {
        background: url(images/down.png) no-repeat center right;
    }
    .dropdown .login-dropdown-menu {
        padding-top: 0px;
    }
    .dropdown-menu .login-box {
        margin: 30px;
    }
    .dropdown-menu .login-header {
        background: #E0E0E0;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color:#000;    

    }
    .optional {
        font-size: 10px;
        font-family: arial;
        padding-left: 0px;
    }
    .login-border-top {
        border-top:1px solid #E0E0E0;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color:#000;    
    }

    .tabs-container {
        margin-top: 30px;
    }

}
#footer {
    height: 60px;
    webkit-box-shadow:inset 0 0 10px 2px #fff,0 0 0 #000;
    box-shadow: inset 0 0 rgba(255, 255, 255, 0.7), 0 5px 10px rgba(121, 120, 120, 0.17);
    border-style: solid;
    border-top-color: #DCDCDC;
    border-top-width: 1px;
    border-bottom-color: #f3f2f2;
    border-bottom-width: 1px;
    opacity: 1;
    height: 35px;
    /*min-width: 1110px;*/
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.89) 0%, rgba(229, 232, 238, 0.83) 45.7%, rgba(255, 255, 255, 0.87) 100%) rgba(246, 247, 249, 0.61);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.89)), color-stop(0.457, rgba(229, 232, 238, 0.83)), to(rgba(255, 255, 255, 0.87))) rgba(246, 247, 249, 0.61);
}

.footer-contain
{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: 15px;
    padding-left: 25px;
}
.footer-contain li {
    float: left;
    list-style: none;
}
.footer-contain li.link a {
    text-decoration: none;
    padding-top: 5px;
    color: #414141;
    font: bold 11px Arial;
    float: left;
    text-transform: uppercase;
    margin-right: 50px;
}
.footer-contain li.link-flag a {
    padding-top: 0;
}
.footer-contain li.link_right {
    float: right;
}
.footer-contain li.link_right a{
    margin-right: 10px;
}
.footer-contain li.link a img{
    width: 20px;
}
.footer-contain li.link_right a img{
    height: 25px;
    width: auto;
}

@media (max-width: 480px) { 
    .footer-contain li.link_right {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer-contain li.link_right {
        display: none;
    }
}

div.error input,
div.error textarea,
div.error select,
input.error,
textarea.error,
select.error
{
    background: #FEE;
    border-color: #C00;
}
div.error,div.errorMessage {
    color: red;
    font-size: 11px;
}

/*--------- Login Box ------------*/

#loading {
    background: url(images/loading.gif) no-repeat #FFF;
    display: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px #000000;
    font-weight: bold;
    left: 50%;
    padding: 5px 5px 5px 25px;
    position: fixed;
    top: 0;
    z-index: 100000 !important;

}
.nav-tabs li {
    border:1px solid #C0C0C0;
}
.nav-tabs li a {
    font-size: 1.6em;
    color:#D0D0D0;
    border:none !important;
}
.nav-tabs li.active a {
    font-size: 1.6em;
    color:#414141;
}
.nav-tabs li.active {

    background-image: -webkit-gradient(linear, left bottom, left top, from(#fafcfc), color-stop(0.536, #f3f5f9), to(#ffffff));
    background-image: -moz-linear-gradient(90deg, #fafcfc 0%, #f3f5f9 53.6%, #ffffff 100%);
}
.tab-content {
    margin-top: 20px;
}

/** index page gallery css **/
.info-item {
    background: none repeat scroll center center rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #EAEAEA;
    bottom: 0;
    height: 100px;
    padding-bottom: 10px;
    position: absolute;
    width: 89%;
    z-index: 500;
}
.offer_name {
    margin: 5px 10px 0;
}
.offer_address {
    color: #414141;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 30px;
    padding-left: 8px;
    width: 70px;
}
.offer_address img {
    left: 0;
    margin-right: 5px;
    max-height: 20px;
    max-width: 20px;
    position: relative;
    top: -6px;
}
.info-item .offer_like {
    height: 15px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    width: 15px;
    cursor: pointer;
}

.percentLike {
    color: #414141;
    float: left;
    font-size: 11px;
    height: 20px;
    line-height: 30px;
    width: 33px;
}

div.item-img-content div.info-item.hover-content a.favorAdd {
    float: left;
    margin-left: 0;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}
div.item-img-content div.info-item.hover-content div.offer_numlike {
    background: none no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    color: #414141;
    float: right;
    font-family: Arial;
    height: 21px;
    line-height: 21px;
    padding-left: 4px;
    padding-top: 1px;
    width: 40px;
    font-size: 10px;

}
div.item-img-content div.info-item.hover-content a.favorAdd {
    float: left;
    margin-left: 15px;
    position: relative;
}
.offer_name a {
    color: #414141;
    font: bold 14px/20px Arial;
    text-decoration: none;
    text-transform: capitalize;
}
.watch a {
    margin-left:50px;
    color: #68BC46;
    display: block;
    font: bold 13px/30px Arial;
    padding-left: 5px;
    text-align: left;
    text-decoration: none;
    text-transform: lowercase;
    z-index: 900;
}
.hover-option {
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 800;
}
.watch {
    background: none repeat scroll center center rgba(255, 255, 255, 0.95);
    float: left;
    height: 30px;
    padding-left: 5px;
    width: 242px;
    z-index: 900;
}
.watch {
    background: none repeat scroll center center rgba(255, 255, 255, 0.95);
    float: left;
    height: 30px;
    padding-left: 5px;
    width: 242px;
    z-index: 900;
}
.delete {
    background: none repeat scroll center center #FFFFFF;
    border-radius: 5px;
    bottom: 40px;
    float: right;
    height: 25px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 34px;
    margin-right: 33px;
}

.delete a {
    display: block;
    line-height: 30px;
    text-decoration: none;
}

.delete img {
    margin: 7px 10px;
    z-index: 900;
}
.delete img {
    position: relative;
    width: 13px;
}

.cate-cotent {
    height: 20px;
    margin: 8px 5px 0;
    padding: 2px 5px;
}

.catename {
    color: #414141;
    float: left;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}
.price-offer {
    color: #414141;
    float: right;
    font-family: Arial;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: right;
    width: 25%;
}
.item-discount {
    color: #d30f0f;
    text-decoration: line-through;
}
.thumbnail > img, .thumbnail a > img {
    width: 150px;
    height: 150px;
}


/*-------- index page bottom **/
#features {
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-left: 0;
    padding-right: 0;
}

.width_wrap {
    font-family: 'Arial';
    margin: 0 auto;
    position: relative;

}
.feature1 h1 {
    color: #4D9DE2;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.feature1 h2 {
    color: #414141;
    font-size: 35px;
    margin-bottom: 45px;
    margin-top: 50px;
    text-align: center;
}
ul.grid.clearfix {
    margin-left: 0;
    padding-left: 0;
}

.feature1 .grid li.first {
    margin-left: 0;
}
.feature1 .grid li {
    float: left;
    margin-left: 50px;
    width: 322px;
    list-style: none;
}
#features a {
    color: #334455;
}
.feature1 .grid li a {
    cursor: default;
    font-style: normal;
    pointer-events: none;
    text-decoration: none;
}
#img1 {
    background: url("images/index_info_images/01.jpg") no-repeat scroll 0 0 #F5F5F5;
    height: 210px;
    width: 340px;
}
#img2 {
    background: url("images/index_info_images/02.jpg") no-repeat scroll 0 0 #F5F5F5;
    height: 210px;
    width: 340px;
}
#img3 {
    background: url("images/index_info_images/03.jpg") no-repeat scroll 0 0 #F5F5F5;
    height: 210px;
    width: 340px;
}
.feature1 .grid li h2 {
    color: #414141;
    font-size: 18px;
    margin: 15px 0 5px;
    text-align: left;
}

.feature1 .grid li p {
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    height: auto;
}

.statistics ul li.first {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #16ACEA;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.statistics ul li {
    list-style: none;

}
@media (max-width: 480px) { 
    .statistics ul li {
        display: block !important;
        margin-top: 10px;
    }
    .statistics ul li.first {
        float: none;
        border:none !important;
    }
    .feature1 .grid {
        text-align: center !important;
    }
    .feature1 .grid li {
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
    .delete {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .statistics {
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #E2E0E0;
        height: 48px;
        margin: 130px auto 25px;
        width: 1090px;
    }

    .statistics ul li {
        border-left: 1px solid #C0C0C0;
        border-right-style: none;
        color: #979797;
        display: inline;
        float: left;
        font-size: 1.1em;
        height: 48px;
        line-height: 48px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
        float: left;

    }
}

@media (min-width: 992px) {
    .statistics {
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #E2E0E0;
        height: 48px;
        margin: 130px auto 25px;
        width: 1090px;
    }

    .statistics ul li {
        border-left: 1px solid #C0C0C0;
        border-right-style: none;
        color: #979797;
        display: inline;
        float: left;
        font-size: 1.1em;
        height: 48px;
        line-height: 48px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
        float: left;

    }
}

@media (min-width: 1200px) {
    .statistics {
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #E2E0E0;
        height: 48px;
        margin: 130px auto 25px;
        width: 1090px;
    }

    .statistics ul li {
        border-left: 1px solid #C0C0C0;
        border-right-style: none;
        color: #979797;
        display: inline;
        float: left;
        font-size: 1.1em;
        height: 48px;
        line-height: 48px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
        float: left;
    }
}

/***---------- dashboard page tabs ----------- ***/
.nav-tabs li a span {
    color:#16ACEA;
    margin-left: 10px;
    font-size: 18px;
}
#my_mails h1,
#my_offers h1,
#my_orders h1,
#settings h1,
#payment h1,
#ratings h1 {
    border-bottom: 1px solid #C2C2C2;
    margin-top: 35px;
    height: 38px;
    font-size: 22px;
}
#my_mails img.line-blog,
#my_offers img.line-blog,
#my_orders img.line-blog,
#settings img.line-blog,
#payment img.line-blog,
#ratings img.line-blog {
    width: 25px;
    position: relative;
    top: -25px;
    left: 50px;
}
#my_mails .tab-header,
#my_offers .tab-header,
#my_orders .tab-header,
#settings .tab-header,
#payment .tab-header,
#ratings .tab-header {
    border-bottom: 1px solid #C2C2C2;
    margin-top: 35px;
    height: 40px;
    font-size: 22px;
}
#my_mails .tab-header a,
#my_offers .tab-header a,
#my_orders .tab-header a,
#settings .tab-header a,
#payment .tab-header a,
#ratings .tab-header a  {
    color: #DCDCDC;
    text-decoration: none;
}
#my_mails .tab-header a:nth-child(2),
#my_offers .tab-header a:nth-child(2),
#my_orders .tab-header a:nth-child(2),
#settings .tab-header a:nth-child(2),
#payment .tab-header a:nth-child(2),
#ratings .tab-header a:nth-child(2) {
    margin-left: 50px;
}
#my_mails .tab-header a.active,
#my_offers .tab-header a.active,
#my_orders .tab-header a.active,
#settings .tab-header a.active,
#payment .tab-header a.active,
#ratings .tab-header a.active  {
    color:#414141;
}
#my_mails img.line-blog-btm,
#my_offers img.line-blog-btm,
#my_orders img.line-blog-btm,
#settings img.line-blog-btm,
#payment img.line-blog-btm,
#ratings img.line-blog-btm  {
    width: 25px;
    position: relative;
    top: -15px;
    left: 50px;
}

/** Dashboard page **/

*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
body {
    padding-bottom: 30px;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
body {
    margin: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
}
.hellotext {
    color: #16ACEA;
    font-size: 25px;
    font-weight: bold;
}
.noteleft {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #E2E0E0;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin-top: 15px;
    padding-left: 10px;
    position: relative;
    text-align: left;
}
.noteleft a {
    color: #FF3C5D;
    margin-top: -4px;
}
a.del_box {
    color: #777777;
    position: absolute;
    right: 5px;
    top: 5px;
}
#recentOrder {
    margin-top: 34px;
}
#recentOrder  div.review{
    float: left;
    height: 190px;
    margin: 0 0 20px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #E2E0E0;
    color: #414141;
    padding: 15px;
    width: 100%;
}
#recentOrder  div.review div.review-img,
#recentOrder  div.review div.review-content,
#recentOrder div.review div.review-stats {
    float: left;

}
#recentOrder  div.review div.review-content,
#recentOrder div.review div.review-stats {
    margin-left: 10px;


}
#recentOrder  div.review div.review-content .review-content-item {
    color:#16ACEA;
    font-size: 14px;
    font-weight: bold;
    margin-top:15px;
    margin-left: 22px;
}
#recentOrder  div.review div.review-content .review-content-amount {
    color: #414141;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 22px;
    font-weight: bold;
}
#recentOrder  div.review div.review-stats {
    width: 170px;
    float: right;
}

#recentOrder  div.review div.review-stats .rating{
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    margin-bottom: 20px;    
    padding: 5px;
    width: 100%;
    font-size: 12px;
}
#recentOrder  div.review div.review-stats .seller{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 20px;    
}
@media (max-width: 480px) { 
    #recentOrder  div.review div.review-content {
        width: 150px;
    }
    #recentOrder  div.review div.review-content .review-content-item {
        float: left;
        font-size: 12px;
        font-weight: bold;
        margin-top:5px;
        margin-left: 10px;
    }
    #recentOrder  div.review div.review-content .review-content-amount {
        float: left;
        font-size: 14px;
        margin-top: 2px;
        margin-left: 10px;
        font-weight: bold;
    }
    #recentOrder  div.review div.review-stats {
        width: 140px;
        float: right;
    }
    #recentOrder  div.review div.review-stats .rating{
        padding: 2px;
        width: 80%;
        font-size: 11px;
        margin-bottom: 5px;    
    }
    #recentOrder  div.review div.review-stats .seller{
        font-size: 10px;
        padding: 5px;
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 5px;  
    }

}

.saved-offers-img { width:100%; text-align:center; background:#FFF; box-shadow: 3px 3px 5px rgba(120, 120, 120, 0.33); border: 1px solid #F1F1F1; height: 210px; margin-bottom: 30px; border-radius: 2px; }

.saved-offers-img img { max-width:100%; width:auto; }

.tabContent { float:left; display:block; background-color: #FAFCFC; border: 1px solid #C0C0C0; border-radius: 5px; box-shadow: 5px 5px 5px #E2E0E0; min-height: 48px; margin: 30px auto auto; width: 100%; }

.tabContent ul { padding: 0; margin: 0; list-style: none outside none; }

.tabContent ul li { border-left: 1px solid #C0C0C0; display: inline; float: left; height: 48px; padding: 0; margin: 0; }

.tabContent ul li a { border-right-style: none; color: #D0D0D0; display: block; font-size: 1.6em; line-height: 46px; padding: 0 20px; text-decoration: none; margin: 0; }

.tabContent ul li.nobor { border: medium none; padding: 0; margin: 0; }

.tabContent ul li a.active, .tabContent ul li a:hover { background: none repeat scroll 0 0 #FFFFFF; border-right: 1px solid #C0C0C0; color: #414141; height: 100%; margin-right: -1px; height:45px; }

@media (max-width: 680px) {
    .tabContent ul li a.active, .tabContent ul li a:hover { border-bottom: 1px solid #C0C0C0; height:48px; }
    .tabContent ul li { display:block; border-bottom: 1px solid #C0C0C0; width:100%; text-align:center; }
}
.space-blog {
    height: 50px;
}

/*** using in setting page **/
.form_part_container {
    -moz-box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    -webkit-box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    border: 1px solid #bcbbbb;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;;
    display: block;
    min-height: 320px;
    margin-bottom: 20px;
}
.form_part_container>div{
    margin-top: 40px;
}
.form_2nd_part_container {
    display: block;
    min-height: 320px;
    margin-bottom: 20px;
    margin-top: 80px;
    position: relative;
}
.form_2nd_part_container .avatar_select .k-widget.k-upload {
    margin-top: 50px;
}
.form_2nd_part_container .avatar_select .k-dropzone .k-upload-button {
    width: 330px;
    margin-left: 50%;
}

.form_2nd_part_container .avatar_select .k-dropzone .k-upload-button >span 
{
    color: #f51e65;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
}
.form_2nd_part_container .background_select .k-widget.k-upload {
    margin-top: 50px;
}
.form_2nd_part_container .background_select .k-dropzone .k-upload-button {
    width: 330px;

}
.form_2nd_part_container img.background_setting{
    min-width: 100%;
    height: 100%;
    -moz-box-shadow: 0 0 5px rgba(203, 203, 203, 0.44);
    -webkit-box-shadow: 0 0 5px rgba(203, 203, 203, 0.44);
    box-shadow: 0 0 5px rgba(203, 203, 203, 0.44);
    top: 0;
    left:50%;
    width:2000px;
    position:absolute;
    width: 1920px;
    margin: 0 0 0 -960px;
    -webkit-transition:opacity 2s ease-in-out;
    -moz-transition:opacity 2s ease-in-out;
    -o-transition:opacity 2s ease-in-out;
    transition:opacity 2s ease-in-out;
    z-index:0;
}
.form_2nd_part_container img.user_setting{
    height: 150px;
    width: 150px;
    z-index: 3;
    border-radius: 150px;
    -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.52);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.52);
    left: 363px;
    position: absolute;
    top: 79px;
}
.form_3nd_part_container {
     -moz-box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    -webkit-box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    box-shadow: 0 0 6px rgba(203, 203, 203, 0.44);
    border: 1px solid #bcbbbb;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;;
    display: block;
    min-height: 500px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.form_3nd_part_container >div{
    margin-top: 40px;
}
.form_3nd_part_container .control-label {
    text-align: left;
}
@media (max-width: 680px) {
    .form_2nd_part_container img.background_setting{
        width: 680px;
        margin: 0 0 0 -394px;
    }
}
@media (max-width: 500px) {
    .form_2nd_part_container img.background_setting{
        width: 500px;
        margin: 0 0 0 -394px;
    }
}
@media (max-width: 450px) {
    .form_2nd_part_container img.background_setting{
        width: 450px;
        margin: 0 0 0 -394px;
    }
}
.form_2nd_part_container div#storefront_bigimagecontent {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #bfbfbf;
}
.form_2nd_part_container .background_select .k-dropzone .k-upload-button >span 
{
    color: #f51e65;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
}
